In [2]:
import pandas as pd
import numpy as np

In [3]:
phosphosite_df = pd.read_csv("../dataset/dbpaf/HUMAN.csv", sep="\t")
phosphosite_df

,dbPAF ID,Uniprot,Position,Type,Sequence,PMIDs
0,dbPAF-0044477,A0A024QZP7,161,T,MEDYTKIEKIGEGTYGVVYKGRHKTTGQVVAMKKIRLESEEEGVPS...,21857030
1,dbPAF-0044478,A0A024R0Y4,6,S,MDRLGSFSNDPSDKPPCRGCSSYLMEPYIKCAECGPPPFFLCLQCF...,22135298;23917254
2,dbPAF-0044479,A0A024R161,51,Y,MGAPLLSPGWGAGAAGRRWWMLLAPLLPALLLVRPAGALVEGLYCG...,22135298
3,dbPAF-0044480,A0A024R412,875,S,MDMFPLTWVFLALYFSRHQVRGQPDPPCGGRLNSKDAGYITSPGYP...,22135298
4,dbPAF-0044480,A0A024R412,877,Y,MDMFPLTWVFLALYFSRHQVRGQPDPPCGGRLNSKDAGYITSPGYP...,22135298
...,...,...,...,...,...,...
244029,dbPAF-0054140,X6REB3,558,S,MNQPQRMAPVGTDKELSDLLDFSMMFPLPVTNGKGRPASLAGAQFG...,25627689
244030,dbPAF-0054140,X6REB3,559,T,MNQPQRMAPVGTDKELSDLLDFSMMFPLPVTNGKGRPASLAGAQFG...,25627689
244031,dbPAF-0054140,X6REB3,607,S,MNQPQRMAPVGTDKELSDLLDFSMMFPLPVTNGKGRPASLAGAQFG...,22135298
244032,dbPAF-0054141,X6REH9,36,T,MLSPRGVTRARQLLPLRLWPRRSWGDGSIMASMQTTGRRVEVWFPK...,22135298
244033,dbPAF-0054142,X6RHX1,435,S,MGSENSALKSYTLREPPFTLPSGLAVYPAVLQDGKFASVFVYKREN...,22135298;25627689

,acc,sequence,position,code,pmids,kinases,source,species,entry_date
0,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,304,S,17114649,NaN,HTP,Mus musculus,2005-03-14 12:16:11.108314+01
1,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,304,S,17242355,NaN,HTP,Mus musculus,2005-03-14 12:16:11.108314+01
2,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,304,S,15345747,NaN,HTP,Mus musculus,2005-03-14 12:16:11.108314+01
3,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,296,S,17114649,NaN,HTP,Mus musculus,2007-07-13 15:17:45.666219+02
4,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,296,S,17242355,NaN,HTP,Mus musculus,2007-07-13 15:17:45.666219+02
...,...,...,...,...,...,...,...,...,...
57385,Q9NNX1,MNGTRNWCTLVDVHPEDQAAGSVDILRLTLQGELTGDELEHIAQKA...,378,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:22.267702+01
57386,P33552,MAHKQIYYSDKYFDEHYEYRHVMLPRELSKQVPKTHLMSEEEWRRL...,51,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:26.8579+01
57387,Q96SB8,MAKRKEENFSSPKNAKRPRQEELEDFDKDGDEDECKGTTLTAAEVG...,695,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:27.603887+01
57388,Q96SB8,MAKRKEENFSSPKNAKRPRQEELEDFDKDGDEDECKGTTLTAAEVG...,291,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:27.492959+01
57389,Q9UGJ1,MIHELLLALSGYPGSIFTWNKRSGLQVSQDFPFLHPSETSVLNRLC...,441,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:30.010184+01

In [4]:
humans = phosphosite_df
#df2['id'].isin(['SP.POP.TOTL','NY.GNP.PCAP.CD'])
humans

,dbPAF ID,Uniprot,Position,Type,Sequence,PMIDs
0,dbPAF-0044477,A0A024QZP7,161,T,MEDYTKIEKIGEGTYGVVYKGRHKTTGQVVAMKKIRLESEEEGVPS...,21857030
1,dbPAF-0044478,A0A024R0Y4,6,S,MDRLGSFSNDPSDKPPCRGCSSYLMEPYIKCAECGPPPFFLCLQCF...,22135298;23917254
2,dbPAF-0044479,A0A024R161,51,Y,MGAPLLSPGWGAGAAGRRWWMLLAPLLPALLLVRPAGALVEGLYCG...,22135298
3,dbPAF-0044480,A0A024R412,875,S,MDMFPLTWVFLALYFSRHQVRGQPDPPCGGRLNSKDAGYITSPGYP...,22135298
4,dbPAF-0044480,A0A024R412,877,Y,MDMFPLTWVFLALYFSRHQVRGQPDPPCGGRLNSKDAGYITSPGYP...,22135298
...,...,...,...,...,...,...
244029,dbPAF-0054140,X6REB3,558,S,MNQPQRMAPVGTDKELSDLLDFSMMFPLPVTNGKGRPASLAGAQFG...,25627689
244030,dbPAF-0054140,X6REB3,559,T,MNQPQRMAPVGTDKELSDLLDFSMMFPLPVTNGKGRPASLAGAQFG...,25627689
244031,dbPAF-0054140,X6REB3,607,S,MNQPQRMAPVGTDKELSDLLDFSMMFPLPVTNGKGRPASLAGAQFG...,22135298
244032,dbPAF-0054141,X6REH9,36,T,MLSPRGVTRARQLLPLRLWPRRSWGDGSIMASMQTTGRRVEVWFPK...,22135298
244033,dbPAF-0054142,X6RHX1,435,S,MGSENSALKSYTLREPPFTLPSGLAVYPAVLQDGKFASVFVYKREN...,22135298;25627689

In [6]:
target_seq_len = 33
target_left_right = 16

In [8]:
def write_fasta(dataframe, file_path):
    dataframe = dataframe.drop_duplicates(subset=['sequence'])
    print("After duplicates removal")
    print(dataframe)
    data_fasta = ""
    for i, row in dataframe.iterrows():
        data_fasta += ">" + row["acc"] + "\n"
        data_fasta += row["sequence"] + "\n"
    
    with open(file_path, 'w') as f:
        f.write(data_fasta)
    return dataframe

r_S_id = list()
r_S_seq = list()
r_T_id = list()
r_T_seq = list()

for i, row in humans.iterrows():
    pos = int(row["Position"])
    if pos > 33 and pos + target_left_right < len(row["Sequence"]):
        extracted_seq = row["Sequence"][pos - target_left_right - 1: pos + target_left_right]
        if row["Type"] == "S":
            r_S_id.append(row["Uniprot"])
            r_S_seq.append(extracted_seq)
        if row["Type"] == "T":
            r_T_id.append(row["Uniprot"])
            r_T_seq.append(extracted_seq)
        
            
S_dataframe = pd.DataFrame(zip(r_S_id, r_S_seq), columns=["acc", "sequence"])
T_dataframe = pd.DataFrame(zip(r_T_id, r_T_seq), columns=["acc", "sequence"])

print(S_dataframe)
print()
print(T_dataframe)

               acc                           sequence
0       A0A024R412  FRYAAKKTDHSITYKTSHYTNGAPLAVEPTLTI
1       A0A024R7P0  PCTPEPVNPEPDASVSSPQGSSLKHSTTLTNRQ
2       A0A044PY82  RQAALARPAVPEPRARSPPQPLGELKRFFEAAA
3       A0A075B6H7  ASTRATSIPARFSGSGSGTDFTLTISSLQPEDF
4       A0A075B6J9  MIYEVSNRPSGVPDRFSGSKSGNTASLTISGLQ
...            ...                                ...
128666      X6RE90  GGGGGGASAAPAPPGLSGTTSPRGPGGGRRAEE
128667      X6RE90  GGASAAPAPPGLSGTTSPRGPGGGRRAEEAGSA
128668      X6REB3  HSEEEKKELKAPRARTSTDEVLSLEEKDLRDRE
128669      X6REB3  NEAFRELGRMCQMHLKSDKAQTKLLILQQAVQV
128670      X6RHX1  KIFKRTAPSFTKNTDLSLEGDPFSQPIKFPING

[128671 rows x 2 columns]

              acc                           sequence
0      A0A024QZP7  ADFGLARAFGIPIRVYTHEAITLWYRSPEVLLG
1      A0A075B6Q3  TVSEEAKGKGRWSQQKTRSPKSPTPVKPTEPCT
2      A0A075B6Q3  GKGRWSQQKTRSPKSPTPVKPTEPCTPSKSRSA
3      A0A075B6Q3  TRSPKSPTPVKPTEPCTPSKSRSASSEEASESP
4      A0A075B6Q4  GKTHRAIADHLFWSEETKSRFTEYSMTSSVMRR
...           ...                                ...
55460      X6RE90  GGGGASAAPAPPGLSGTTSPRGPGGGRRAEEAG
55461      X6RE90  GGGASAAPAPPGLSGTTSPRGPGGGRRAEEAGS
55462      X6REB3  DHSEEEKKELKAPRARTSTDEVLSLEEKDLRDR
55463      X6REB3  SEEEKKELKAPRARTSTDEVLSLEEKDLRDRER
55464      X6REH9  PRRSWGDGSIMASMQTTGRRVEVWFPKRLQKEL

[55465 rows x 2 columns]

In [9]:
dedup_S_dataframe = write_fasta(S_dataframe, "../dataset/dbpaf/all_pos_S.fasta")  
dedup_S_dataframe.to_csv("../dataset/dbpaf/all_pos_S.tsv", sep="\t", index=None)

After duplicates removal
               acc                           sequence
0       A0A024R412  FRYAAKKTDHSITYKTSHYTNGAPLAVEPTLTI
1       A0A024R7P0  PCTPEPVNPEPDASVSSPQGSSLKHSTTLTNRQ
2       A0A044PY82  RQAALARPAVPEPRARSPPQPLGELKRFFEAAA
3       A0A075B6H7  ASTRATSIPARFSGSGSGTDFTLTISSLQPEDF
4       A0A075B6J9  MIYEVSNRPSGVPDRFSGSKSGNTASLTISGLQ
...            ...                                ...
128666      X6RE90  GGGGGGASAAPAPPGLSGTTSPRGPGGGRRAEE
128667      X6RE90  GGASAAPAPPGLSGTTSPRGPGGGRRAEEAGSA
128668      X6REB3  HSEEEKKELKAPRARTSTDEVLSLEEKDLRDRE
128669      X6REB3  NEAFRELGRMCQMHLKSDKAQTKLLILQQAVQV
128670      X6RHX1  KIFKRTAPSFTKNTDLSLEGDPFSQPIKFPING

[127985 rows x 2 columns]

In [10]:
dedup_T_dataframe = write_fasta(T_dataframe, "../dataset/dbpaf/all_pos_T.fasta")  
dedup_T_dataframe.to_csv("../dataset/dbpaf/all_pos_T.tsv", sep="\t", index=None)

After duplicates removal
              acc                           sequence
0      A0A024QZP7  ADFGLARAFGIPIRVYTHEAITLWYRSPEVLLG
1      A0A075B6Q3  TVSEEAKGKGRWSQQKTRSPKSPTPVKPTEPCT
2      A0A075B6Q3  GKGRWSQQKTRSPKSPTPVKPTEPCTPSKSRSA
3      A0A075B6Q3  TRSPKSPTPVKPTEPCTPSKSRSASSEEASESP
4      A0A075B6Q4  GKTHRAIADHLFWSEETKSRFTEYSMTSSVMRR
...           ...                                ...
55460      X6RE90  GGGGASAAPAPPGLSGTTSPRGPGGGRRAEEAG
55461      X6RE90  GGGASAAPAPPGLSGTTSPRGPGGGRRAEEAGS
55462      X6REB3  DHSEEEKKELKAPRARTSTDEVLSLEEKDLRDR
55463      X6REB3  SEEEKKELKAPRARTSTDEVLSLEEKDLRDRER
55464      X6REH9  PRRSWGDGSIMASMQTTGRRVEVWFPKRLQKEL

[55189 rows x 2 columns]

In [11]:
# create negative dataset
S_neg_id = list()
S_neg_seq = list()

T_neg_id = list()
T_neg_seq = list()

def extract_neg_seq(original_seq, s_id, pos, s_len=33):
    r_id = list()
    r_seq = list()
    for p in pos:
        if p > s_len:
            extracted_seq = original_seq[p - target_left_right: p + target_left_right + 1]
            if len(extracted_seq) >= s_len:
                r_id.append(s_id)
                r_seq.append(extracted_seq)
    return r_id, r_seq
                        

for i, row in humans.iterrows():
    if len(row["Sequence"]) > 33:

        S_pos = [pos for pos, char in enumerate(row["Sequence"]) if char == "S"]
        T_pos = [pos for pos, char in enumerate(row["Sequence"]) if char == "T"]
        
        if row["Type"] == "S":
            # exclude POS position
            S_pos = [ item for item in S_pos if item != row["Position"] - 1 ]
            ids, seqs = extract_neg_seq(row["Sequence"], row["Uniprot"], S_pos)
            S_neg_id.extend(ids)
            S_neg_seq.extend(seqs)
        if row["Type"] == "T":
            # exclude POS position
            T_pos = [ item for item in T_pos if item != row["Position"] - 1 ]
            ids, seqs = extract_neg_seq(row["Sequence"], row["Uniprot"], T_pos)
            T_neg_id.extend(ids)
            T_neg_seq.extend(seqs)


S_neg_dataframe = pd.DataFrame(zip(S_neg_id, S_neg_seq), columns=["acc", "sequence"])
T_neg_dataframe = pd.DataFrame(zip(T_neg_id, T_neg_seq), columns=["acc", "sequence"])

In [12]:
S_neg_dataframe

                 acc                           sequence
0         A0A024R0Y4  LCLQCFTRGFEYKKHQSDHTYEIMTSDFPVLDP
1         A0A024R0Y4  FEYKKHQSDHTYEIMTSDFPVLDPSWTAQEEMA
2         A0A024R0Y4  DHTYEIMTSDFPVLDPSWTAQEEMALLEAVMDC
3         A0A024R0Y4  CEKHYMKHFINNPLFASTLLNLKQAEEAKTADT
4         A0A024R0Y4  KQAEEAKTADTAIPFHSTDDPPRPTFDSLLSRD
...              ...                                ...
16585061      X6RHX1  TKPVTSGEQKPIPALLSLTEESMPWKSSLPQKI
16585062      X6RHX1  SGEQKPIPALLSLTEESMPWKSSLPQKISLVQR
16585063      X6RHX1  PIPALLSLTEESMPWKSSLPQKISLVQRGDDAD
16585064      X6RHX1  IPALLSLTEESMPWKSSLPQKISLVQRGDDADQ
16585065      X6RHX1  LTEESMPWKSSLPQKISLVQRGDDADQIEPPKV

[16585066 rows x 2 columns]

In [13]:
T_neg_dataframe

                acc                           sequence
0        A0A024QZP7  AMKKIRLESEEEGVPSTAIREISLLKELRHPNI
1        A0A024QZP7  LHRDLKPQNLLIDDKGTIKLADFGLARAFGIPI
2        A0A024QZP7  ARAFGIPIRVYTHEAITLWYRSPEVLLGSARYS
3        A0A024QZP7  LWYRSPEVLLGSARYSTPVDIWSIGTIFAELAT
4        A0A024QZP7  LGSARYSTPVDIWSIGTIFAELATKKPLFHGDS
...             ...                                ...
5218726      X6REH9  PPPGMTLNEKSVQNSITQWIVDMEGAPGTLYEG
5218727      X6REH9  QNSITQWIVDMEGAPGTLYEGEKFQLLFKFSSR
5218728      X6REH9  FKFSSRYPFDSPQVMFTGENIPVHPHVYSNGHI
5218729      X6REH9  VHPHVYSNGHICLSILTEDWSPALSVQSVCLSI
5218730      X6REH9  SCKEKRRPPDNSFYVRTCNKNPKKTKWWYHDDT

[5218731 rows x 2 columns]

In [14]:
dedup_S_neg_dataframe = write_fasta(S_neg_dataframe, "../dataset/dbpaf/all_neg_S.fasta")  
dedup_S_neg_dataframe.to_csv("../dataset/dbpaf/all_neg_S.tsv", sep="\t", index=None)

After duplicates removal
                 acc                           sequence
0         A0A024R0Y4  LCLQCFTRGFEYKKHQSDHTYEIMTSDFPVLDP
1         A0A024R0Y4  FEYKKHQSDHTYEIMTSDFPVLDPSWTAQEEMA
2         A0A024R0Y4  DHTYEIMTSDFPVLDPSWTAQEEMALLEAVMDC
3         A0A024R0Y4  CEKHYMKHFINNPLFASTLLNLKQAEEAKTADT
4         A0A024R0Y4  KQAEEAKTADTAIPFHSTDDPPRPTFDSLLSRD
...              ...                                ...
16584917      X6REB3  KELKAPRARTSTDEVLSLEEKDLRDRERRMANN
16585009      X6REB3  HSEEEKKELKAPRARTSTDEVLSLEEKDLRDRE
16585045      X6RHX1  VVVGGERTKIFKRTAPSFTKNTDLSLEGDPFSQ
16585046      X6RHX1  PSFTKNTDLSLEGDPFSQPIKFPINGLSDVKNT
16585047      X6RHX1  EGDPFSQPIKFPINGLSDVKNTSEDSENFPSSS

[769435 rows x 2 columns]

In [15]:
dedup_T_neg_dataframe = write_fasta(T_neg_dataframe, "../dataset/dbpaf/all_neg_T.fasta")  
dedup_T_neg_dataframe.to_csv("../dataset/dbpaf/all_neg_T.tsv", sep="\t", index=None)

After duplicates removal
                acc                           sequence
0        A0A024QZP7  AMKKIRLESEEEGVPSTAIREISLLKELRHPNI
1        A0A024QZP7  LHRDLKPQNLLIDDKGTIKLADFGLARAFGIPI
2        A0A024QZP7  ARAFGIPIRVYTHEAITLWYRSPEVLLGSARYS
3        A0A024QZP7  LWYRSPEVLLGSARYSTPVDIWSIGTIFAELAT
4        A0A024QZP7  LGSARYSTPVDIWSIGTIFAELATKKPLFHGDS
...             ...                                ...
5218726      X6REH9  PPPGMTLNEKSVQNSITQWIVDMEGAPGTLYEG
5218727      X6REH9  QNSITQWIVDMEGAPGTLYEGEKFQLLFKFSSR
5218728      X6REH9  FKFSSRYPFDSPQVMFTGENIPVHPHVYSNGHI
5218729      X6REH9  VHPHVYSNGHICLSILTEDWSPALSVQSVCLSI
5218730      X6REH9  SCKEKRRPPDNSFYVRTCNKNPKKTKWWYHDDT

[457517 rows x 2 columns]

In [16]:
from sklearn.model_selection import train_test_split


all_neg_S = pd.read_csv("../dataset/dbpaf/all_neg_S.tsv", sep="\t")

all_neg_S = all_neg_S.sample(frac=1).reset_index(drop=True)

split_size = int(0.8 * len(all_neg_S.index))

test_neg_S = all_neg_S[split_size:]
train_neg_S = all_neg_S[:split_size]

train_neg_S.to_csv("../dataset/dbpaf/train_neg_S.tsv", sep="\t", index=None)
test_neg_S.to_csv("../dataset/dbpaf/test_neg_S.tsv", sep="\t", index=None)

In [17]:
all_pos_S = pd.read_csv("../dataset/dbpaf/all_pos_S.tsv", sep="\t")

all_pos_S = all_pos_S.sample(frac=1).reset_index(drop=True)

split_size = int(0.8 * len(all_pos_S.index))
test_pos_S = all_pos_S[split_size:]
train_pos_S = all_pos_S[:split_size]

train_pos_S.to_csv("../dataset/dbpaf/train_pos_S.tsv", sep="\t", index=None)
test_pos_S.to_csv("../dataset/dbpaf/test_pos_S.tsv", sep="\t", index=None)

In [18]:
all_neg_T = pd.read_csv("../dataset/dbpaf/all_neg_T.tsv", sep="\t")

all_neg_T = all_neg_T.sample(frac=1).reset_index(drop=True)

split_size = int(0.8 * len(all_neg_T.index))

test_neg_T = all_neg_T[split_size:]
train_neg_T = all_neg_T[:split_size]

train_neg_T.to_csv("../dataset/dbpaf/train_neg_T.tsv", sep="\t", index=None)
test_neg_T.to_csv("../dataset/dbpaf/test_neg_T.tsv", sep="\t", index=None)

In [19]:
all_pos_T = pd.read_csv("../dataset/dbpaf/all_pos_T.tsv", sep="\t")

all_pos_T = all_pos_T.sample(frac=1).reset_index(drop=True)

split_size = int(0.8 * len(all_pos_T.index))
train_pos_T = all_pos_T[:split_size]
test_pos_T = all_pos_T[split_size:]

train_pos_T.to_csv("../dataset/dbpaf/train_pos_T.tsv", sep="\t", index=None)
test_pos_T.to_csv("../dataset/dbpaf/test_pos_T.tsv", sep="\t", index=None)

In [20]:
def write_tsv_fasta(file_path, save_to_file, max_rows=20000):
    fasta_text = ""
    dataframe = pd.read_csv(file_path, sep="\t")
    print(dataframe)
    for i, row in dataframe.iterrows():
        fasta_text += ">" + row[0] + "\n"
        fasta_text += row[1] + "\n"
        if i > max_rows:
            break
    with open(save_to_file, "w") as f:
        f.write(fasta_text)

In [21]:
write_tsv_fasta("../dataset/dbpaf/train_pos_S.tsv", 
                "../dataset/dbpaf/train_pos_S.fasta", len(train_pos_S.index))

           acc                           sequence
0       Q13115  LKGGYERFSSEYPEFCSKTKALAAIPPPVPPSA
1       Q96L73  LLLNGCLKSLAFDSEHSADEKEKPCAKSRARKS
2       Q96JM3  IDDQKCDILVQEELLASPKKLLEDTLFPSSKKL
3       P51116  RNRSRRRRNRGNRTDGSISGDRQPVTVADYISR
4       Q14008  RGLRVIEMEREGKGRISTSTGISPQMEVTCVPT
...        ...                                ...
102383  Q6DKI1  KKEQKKGKGLRFKRLESFLHDSWRQKRDKVRLR
102384  Q9UGP5  SPAPAVLDKWVCAQPSSQKATNHNLHITEKLEV
102385  Q6UY18  ACAGPHHVQGKSLKEFSDILPPGHFTCKPALIR
102386  P50479  PVPHNGSSEATLPAQMSTLHVSPPPSADPARGL
102387  P21709  TIANFDPRMTLRLPSLSGSDGIPYRTVSEWLES

[102388 rows x 2 columns]

In [22]:
write_tsv_fasta("../dataset/dbpaf/train_pos_T.tsv", 
                "../dataset/dbpaf/train_pos_T.fasta", len(train_pos_T.index))

              acc                           sequence
0          Q9ULT8  NATNNMNLSRSSSDNNTNTLGRNVMSTATSPLM
1      A0A087WTJ2  KYGTMAEGRSEDNLSATPPALRIILVGKTGCGK
2          Q9UL36  CPQTFNVEFNLTLHKCTHSGEDPTCPVCNKKFS
3          Q9BZ95  SKTEVKKTRRPRSVLNTQPEQTNAGEVASSLSS
4          O00305  IQLERAKSKPVAFAVKTNVSYCGALDEDVPVPS
...           ...                                ...
44146      P27037  LSAGCVGERITQMQRLTNIITTEDIVTVVTMVT
44147      Q04844  VREPEDTVTISLKVTLTNLISLNEKEETLTTSV
44148      Q3ZCN5  VCGCDTTLCETSIPTCTNSQKLIVGHSPLSCCP
44149      Q9UJA5  PKKKREEPTAETKEAGTDNRNIVDDGKSQKLTQ
44150      O00462  LDGGLNIEKSAKVYFRTVELIEEPIKGSPGLSF

[44151 rows x 2 columns]

In [23]:
write_tsv_fasta("../dataset/dbpaf/train_neg_S.tsv", 
                "../dataset/dbpaf/train_neg_S.fasta", len(train_pos_S.index))

           acc                           sequence
0       O75828  VEDTKNEVHEREGWPNSPYGVSKLGVTVLSRIL
1       Q96EK5  EKHPEAAQEIEVELELSKEMVSLLPTKMERFRT
2       P22307  VAECVLALGFEKMSKGSLGIKFSDRTIPTDKHV
3       Q2M1Z3  FSGLKGAEAPPNQKGPSGVQPNPAETSPISLAE
4       Q562F6  LASQLTESSQTSISLESDLKHITSEADSDPGNP
...        ...                                ...
615543  Q9Y692  DLLISSARAPVPGQQTSVVQTPTSADGSITQIA
615544  Q02086  SFGILSSKGNILQIQGSQLSASYPGGQLVFAIQ
615545  Q9NU22  LWYQQTLPPHEAKHYLSLFLSCYQTGASLVTHF
615546  Q02779  ASLNEMEEFAEAEDGGSSVPPSPYSTPSYLSVP
615547  Q9H223  QVDTQQLMRVYGALMWSLGKVINTPEVLRVYIG

[615548 rows x 2 columns]

In [24]:
write_tsv_fasta("../dataset/dbpaf/train_neg_T.tsv", 
                "../dataset/dbpaf/train_neg_T.fasta", len(train_pos_T.index))

           acc                           sequence
0       Q6ZQQ2  RHHGPPIPSALPPEDCTVTQSKSSLTILKTFPE
1       O75436  ELQLIKKEITGIGPSTTTETETIAKYEIMDGAP
2       A8MVW0  FVSPQLGYWVAAMASPTAGLVTITSGIQDIGTY
3       Q92736  LLTNLSEHMPNDTRLQTFLELAESVLNYFQPFL
4       E9PBC6  LEPRASDAKNQEGKVNTRRKSTDSVPISKSTLS
...        ...                                ...
366008  O95071  KYNLNSHPPLNVLEQATIKQCVVGPNHAAFLLE
366009  O60488  DQSYVISFVVPNQKRLTLLAQQKGVEGTWVDIC
366010  Q92793  VKEEEESSSNGTASQSTSPSQPRKKIFKPEELR
366011  P05997  GPVGSPGLPGAIGTDGTPGAKGPTGSPGTSGPP
366012  Q8IZ02  GPEGGELIAKVLHKNRTLKYLRMTGNKIENKGG

[366013 rows x 2 columns]

In [25]:
write_tsv_fasta("../dataset/dbpaf/test_pos_S.tsv", 
                "../dataset/dbpaf/test_pos_S.fasta", len(test_pos_S.index))

          acc                           sequence
0      Q9BQQ3  GAPPPDALPPGPTPEDSPSLETGSRQSDYMEAL
1      Q9UIG0  KKSDGACDSPSSDKENSSQIAQDHQKKETVVKE
2      P48444  KSEGETIMSSSMGKRTSEATKMHAPPINMESVH
3      P23769  GSAARGEDKDGVKYQVSLTESMKMESGSPLRPG
4      Q9UPQ0  MPKILERSHSTEPNLSSFLNDPNPMKYLRQQSL
...       ...                                ...
25592  Q01831  EEEEESENDWEEVEELSEPVLGDVRESTAFSRS
25593  Q15750  NQSPTLTLQSTNTHTQSSSSSSDGGLFRSRPAH
25594  Q9BZL6  IPNNCSGARKRRLSSTSLASGHSVRLGTSESLP
25595  P01579  KSVETIKEDMNVKFFNSNKKKRDDFEKLTNYSV
25596  O94886  EADSESRFQRLSSTSSSGQQDFENELGCCPWLT

[25597 rows x 2 columns]

In [26]:
write_tsv_fasta("../dataset/dbpaf/test_pos_T.tsv", 
                "../dataset/dbpaf/test_pos_T.fasta", len(test_pos_T.index))

          acc                           sequence
0      O60716  RVSPQDANPLMANGTLTRRHQNGRFVGDADLER
1      O15264  FGLARHADAEMTGYVVTRWYRAPEVILSWMHYN
2      Q86T82  PLKASQMVNSCITSPSTPSKKFTFKSKSSLALC
3      Q96PE2  PTRAHPTLQAPSLEDVTKQYMLNLHSGEVPAPV
4      Q5SXM2  LRRRRRRARHSVRWSSTSSSGSSSGSSGGSSSS
...       ...                                ...
11033  Q14202  SAAELNYGLAQFVREITRPNGERYEPDSIYYLC
11034  Q13023  SHLKQTEVLALKLENLTKLLPQKPRGETIQNID
11035  Q9Y5K6  IAKINGEVSSISSKFETEPVSKLKLDSEQLPLR
11036  O00444  ATQLKMPHEKHYTLCGTPNYISPEIATRSAHGL
11037  Q8TC92  TEENLTKDQQLQFLQQTMQGMQQQLLTIQEELN

[11038 rows x 2 columns]

In [27]:
write_tsv_fasta("../dataset/dbpaf/test_neg_S.tsv", 
                "../dataset/dbpaf/test_neg_S.fasta", len(test_pos_S.index))

           acc                           sequence
0       Q9Y6R4  ALQQLKNDALELCNRISNAIDRVDHMFTSEFDA
1       Q15750  ERSFLESIDDALAEKASLQSQLPEGVPQHQLPP
2       Q8WUY3  GKNISMEDDVGESSQSSYDDPSMMQLYNETNRQ
3       Q15643  AGLGPGGPGHLLLKPISDVLPTFTPLPALPDNS
4       Q8N5F7  GSDKPWPSLLDKEREESLRQKRLSERERIGELG
...        ...                                ...
153882  Q9BZ72  TLVTNNSGRVSYTIPESHRLGVGVYPIKMVVRG
153883  Q6P2H3  KEIQLESLRQREAEFSSAGHSLQDKQSVEETSG
153884  O75064  VPLLSVQTLDSRPSVPSPKSAGASGSKDAPVPG
153885  Q92834  ESLGETTDILNMTHIMSLNSNEKSLKLSPVQKQ
153886  Q8IVG5  IQILQLTPFFHKENELSKKHMVQFLSGKWTIPP

[153887 rows x 2 columns]

In [28]:
write_tsv_fasta("../dataset/dbpaf/test_neg_T.tsv", 
                "../dataset/dbpaf/test_neg_T.fasta", len(test_pos_T.index))

          acc                           sequence
0      Q9HBI6  MKVVLALTLLHFRILPTHTEPRRKPELILRAEG
1      Q8NCM8  LGHIDMDTREWSDGVLTNSARQVVREPQDVSSW
2      Q7L2K0  AGGHASDTRPTKGLRQTTVPAKGHPERRLLSVG
3      Q7Z408  GVILSQSYPGSYPQFQTCSWLVRVEPDYNISLT
4      Q86UU0  NVADPAMAAPQLGPGQTTQLPLSESSVPGAPHG
...       ...                                ...
91499  O15034  DVEVYLSDAPSHYSQDTPMRSKAKRKKSVHFTP
91500  P32004  CLAENSLGSARHAYYVTVEAAPYWLHKPQSHLY
91501  Q6AHZ1  SQSGAAKDGTANLQPQTLDTNGFLTGVTTELND
91502  Q6P2P2  VLDVSEGFSVLPVIAGTLGQVKPYSSVEKDQHR
91503  Q96T58  EKLDKSRLERYTKNEKTDKERTFDPERVERERR

[91504 rows x 2 columns]