In [206]:
import pandas as pd
import numpy as np

In [207]:
dataframe_plm = pd.read_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/phosphoELM_all_2015-04.csv", sep="\t")
dataframe_plm

,acc,sequence,position,code,pmids,kinases,source,species,entry_date
0,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,304,S,17114649,NaN,HTP,Mus musculus,2005-03-14 12:16:11.108314+01
1,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,304,S,17242355,NaN,HTP,Mus musculus,2005-03-14 12:16:11.108314+01
2,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,304,S,15345747,NaN,HTP,Mus musculus,2005-03-14 12:16:11.108314+01
3,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,296,S,17114649,NaN,HTP,Mus musculus,2007-07-13 15:17:45.666219+02
4,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,296,S,17242355,NaN,HTP,Mus musculus,2007-07-13 15:17:45.666219+02
...,...,...,...,...,...,...,...,...,...
57385,Q9NNX1,MNGTRNWCTLVDVHPEDQAAGSVDILRLTLQGELTGDELEHIAQKA...,378,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:22.267702+01
57386,P33552,MAHKQIYYSDKYFDEHYEYRHVMLPRELSKQVPKTHLMSEEEWRRL...,51,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:26.8579+01
57387,Q96SB8,MAKRKEENFSSPKNAKRPRQEELEDFDKDGDEDECKGTTLTAAEVG...,695,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:27.603887+01
57388,Q96SB8,MAKRKEENFSSPKNAKRPRQEELEDFDKDGDEDECKGTTLTAAEVG...,291,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:27.492959+01
57389,Q9UGJ1,MIHELLLALSGYPGSIFTWNKRSGLQVSQDFPFLHPSETSVLNRLC...,441,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:30.010184+01

In [208]:
humans = dataframe_plm[dataframe_plm["species"] == "Homo sapiens"]
#humans = dataframe_plm[dataframe_plm["species"].isin(["Homo sapiens", "Mus musculus"])]
#df2['id'].isin(['SP.POP.TOTL','NY.GNP.PCAP.CD'])
humans

,acc,sequence,position,code,pmids,kinases,source,species,entry_date
14,O14543,MVTHSKFPAAGMSRPLDTSLRLKTFSSKSEYQLVVNAVRKLQESGF...,204,Y,12783885,Lck,LTP,Homo sapiens,2006-10-17 12:06:48.16767+02
15,O14543,MVTHSKFPAAGMSRPLDTSLRLKTFSSKSEYQLVVNAVRKLQESGF...,221,Y,12783885,NaN,LTP,Homo sapiens,2006-10-17 12:06:48.271076+02
16,O14543,MVTHSKFPAAGMSRPLDTSLRLKTFSSKSEYQLVVNAVRKLQESGF...,221,Y,15173187,Lck,LTP,Homo sapiens,2006-10-17 12:06:48.271076+02
17,O14746,MPRAPRCRAVRSLLRSHYREVLPLATFVRRLGPQGWRLVQRGDPAA...,797,S,16565220,NaN,HTP,Homo sapiens,2006-10-17 11:57:53.909276+02
18,O14746,MPRAPRCRAVRSLLRSHYREVLPLATFVRRLGPQGWRLVQRGDPAA...,824,S,10224060,PKB_group,LTP,Homo sapiens,2004-12-31 00:00:00+01
...,...,...,...,...,...,...,...,...,...
57385,Q9NNX1,MNGTRNWCTLVDVHPEDQAAGSVDILRLTLQGELTGDELEHIAQKA...,378,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:22.267702+01
57386,P33552,MAHKQIYYSDKYFDEHYEYRHVMLPRELSKQVPKTHLMSEEEWRRL...,51,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:26.8579+01
57387,Q96SB8,MAKRKEENFSSPKNAKRPRQEELEDFDKDGDEDECKGTTLTAAEVG...,695,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:27.603887+01
57388,Q96SB8,MAKRKEENFSSPKNAKRPRQEELEDFDKDGDEDECKGTTLTAAEVG...,291,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:27.492959+01
57389,Q9UGJ1,MIHELLLALSGYPGSIFTWNKRSGLQVSQDFPFLHPSETSVLNRLC...,441,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:30.010184+01

In [209]:
target_seq_len = 33
target_left_right = 16

In [210]:
def write_fasta(dataframe, file_path):
    dataframe = dataframe.drop_duplicates(subset=['sequence'])
    print("After duplicates removal")
    print(dataframe)
    data_fasta = ""
    for i, row in dataframe.iterrows():
        data_fasta += ">" + row["acc"] + "\n"
        data_fasta += row["sequence"] + "\n"
    
    with open(file_path, 'w') as f:
        f.write(data_fasta)
    return dataframe


r_S_id = list()
r_S_seq = list()
r_T_id = list()
r_T_seq = list()

for i, row in humans.iterrows():
    pos = int(row["position"])
    if pos > 33 and pos + target_left_right < len(row["sequence"]):
        extracted_seq = row["sequence"][pos - target_left_right - 1: pos + target_left_right]
        if row["code"] == "S":
            r_S_id.append(row["acc"])
            r_S_seq.append(extracted_seq)
        if row["code"] == "T":
            r_T_id.append(row["acc"])
            r_T_seq.append(extracted_seq)
        
            
S_dataframe = pd.DataFrame(zip(r_S_id, r_S_seq), columns=["acc", "sequence"])
T_dataframe = pd.DataFrame(zip(r_T_id, r_T_seq), columns=["acc", "sequence"])

print(S_dataframe)
print()
print(T_dataframe)

          acc                           sequence
0      O14746  QETSPLRDAVVIEQSSSLNEASSGLFDVFLRFM
1      O14746  VFLRFMCHHAVRIRGKSYVQCQGIPQGSILSTL
2      O14746  GVPLGLPAPGARRRGGSASRSLPLPKRPRRGAA
3      O14867  QTPQCKLRRYQGNAKASPPLQDSASQTYESMCL
4      O14867  SQKRSECPWLGIRISESPEPGQRTFTTLSSVNC
...       ...                                ...
24423  Q8NFH3  ENYISLWSIGDFGNLDSDGGFEGDHQLLCDIRH
24424  P33552  THLMSEEEWRRLGVQQSLGWVHYMIHEPEPHIL
24425  Q96SB8  ENTRPKFLSRDVDSEISDLENEVENKTAQILNL
24426  Q96SB8  RQCVEKEERFQSIAGLSTMKTNLESLKHEMAWA
24427  Q9UGJ1  HKADATQAREGPSRETSPREAPASGWAALGLSY

[24428 rows x 2 columns]

           acc                           sequence
0       O14746  RTAQTQLSRKLPGTTLTALEAAANPALPSDFKT
1       O15117  VNQDHDLKPLGPKSGPTPPTSENEQKQAFPKLT
2       O15143  RERFQNLDKKASSEGGTAAGAGLDSLHKNSVSQ
3       O15350  STMDQMSSRAASASPYTPEHAASVPTHSPYAQP
4       O15392  FLKLDRERAKNKIAKETNNKKKEFEETAKKVRR
...        ...                                ...
5657  P33981-1  KTPSSNTLDDYMSCFRTPVVKNDFPPACQLSTP
5658  P33981-1  QMQPDTTSVVKDSQVGTVNYMPPEAIKDMSSSR
5659  P33981-1  QMQPDTTSVVKDSQVGTVNYMPPEAIKDMSSSR
5660  Q9Y4B5-4  RPANRRPPSRWAPHSPTASQPQSPGDPTSLEEH
5661    P50748  HIKAHEVAQAKHKPGSTPEPIAAEVRSPSMESK

[5662 rows x 2 columns]

In [211]:
dedup_S_dataframe = write_fasta(S_dataframe, "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_pos_S.fasta")  
dedup_S_dataframe.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_pos_S.tsv", sep="\t", index=None)

After duplicates removal
          acc                           sequence
0      O14746  QETSPLRDAVVIEQSSSLNEASSGLFDVFLRFM
1      O14746  VFLRFMCHHAVRIRGKSYVQCQGIPQGSILSTL
2      O14746  GVPLGLPAPGARRRGGSASRSLPLPKRPRRGAA
3      O14867  QTPQCKLRRYQGNAKASPPLQDSASQTYESMCL
4      O14867  SQKRSECPWLGIRISESPEPGQRTFTTLSSVNC
...       ...                                ...
24423  Q8NFH3  ENYISLWSIGDFGNLDSDGGFEGDHQLLCDIRH
24424  P33552  THLMSEEEWRRLGVQQSLGWVHYMIHEPEPHIL
24425  Q96SB8  ENTRPKFLSRDVDSEISDLENEVENKTAQILNL
24426  Q96SB8  RQCVEKEERFQSIAGLSTMKTNLESLKHEMAWA
24427  Q9UGJ1  HKADATQAREGPSRETSPREAPASGWAALGLSY

[16833 rows x 2 columns]

In [212]:
dedup_T_dataframe = write_fasta(T_dataframe, "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_pos_T.fasta")  
dedup_T_dataframe.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_pos_T.tsv", sep="\t", index=None)

After duplicates removal
           acc                           sequence
0       O14746  RTAQTQLSRKLPGTTLTALEAAANPALPSDFKT
1       O15117  VNQDHDLKPLGPKSGPTPPTSENEQKQAFPKLT
2       O15143  RERFQNLDKKASSEGGTAAGAGLDSLHKNSVSQ
3       O15350  STMDQMSSRAASASPYTPEHAASVPTHSPYAQP
4       O15392  FLKLDRERAKNKIAKETNNKKKEFEETAKKVRR
...        ...                                ...
5653  P33981-1  LKLIDFGIANQMQPDTTSVVKDSQVGTVNYMPP
5657  P33981-1  KTPSSNTLDDYMSCFRTPVVKNDFPPACQLSTP
5658  P33981-1  QMQPDTTSVVKDSQVGTVNYMPPEAIKDMSSSR
5660  Q9Y4B5-4  RPANRRPPSRWAPHSPTASQPQSPGDPTSLEEH
5661    P50748  HIKAHEVAQAKHKPGSTPEPIAAEVRSPSMESK

[4276 rows x 2 columns]

In [213]:
# create negative dataset
S_neg_id = list()
S_neg_seq = list()

T_neg_id = list()
T_neg_seq = list()

def extract_neg_seq(original_seq, s_id, pos, s_len=33):
    r_id = list()
    r_seq = list()
    for p in pos:
        if p > s_len:
            extracted_seq = original_seq[p - target_left_right: p + target_left_right + 1]
            if len(extracted_seq) >= s_len:
                r_id.append(s_id)
                r_seq.append(extracted_seq)
    return r_id, r_seq
                        

for i, row in humans.iterrows():
    #pos = int(row["position"])
    if len(row["sequence"]) > 33:

        S_pos = [pos for pos, char in enumerate(row["sequence"]) if char == "S"]
        T_pos = [pos for pos, char in enumerate(row["sequence"]) if char == "T"]
        
        if row["code"] == "S":
            # exclude POS position
            S_pos = [ item for item in S_pos if item != row["position"] - 1 ]
            ids, seqs = extract_neg_seq(row["sequence"], row["acc"], S_pos)
            S_neg_id.extend(ids)
            S_neg_seq.extend(seqs)
        if row["code"] == "T":
            # exclude POS position
            T_pos = [ item for item in T_pos if item != row["position"] - 1 ]
            ids, seqs = extract_neg_seq(row["sequence"], row["acc"], T_pos)
            T_neg_id.extend(ids)
            T_neg_seq.extend(seqs)


S_neg_dataframe = pd.DataFrame(zip(S_neg_id, S_neg_seq), columns=["acc", "sequence"])
T_neg_dataframe = pd.DataFrame(zip(T_neg_id, T_neg_seq), columns=["acc", "sequence"])

In [214]:
S_neg_dataframe

            acc                           sequence
0        O14746  CLVCVPWDARPPPAAPSFRQVSCLKELVARVLQ
1        O14746  PWDARPPPAAPSFRQVSCLKELVARVLQRLCER
2        O14746  ALLDGARGGPPEAFTTSVRSYLPNTVTDALRGS
3        O14746  DGARGGPPEAFTTSVRSYLPNTVTDALRGSGAW
4        O14746  SVRSYLPNTVTDALRGSGAWGLLLRRVGDDVLV
...         ...                                ...
2844573  Q9UGJ1  RGAAQLSILVKGFSRQSSLLFKILSSVRNHQIN
2844574  Q9UGJ1  GAAQLSILVKGFSRQSSLLFKILSSVRNHQINS
2844575  Q9UGJ1  LVKGFSRQSSLLFKILSSVRNHQINSDLAQLLL
2844576  Q9UGJ1  VKGFSRQSSLLFKILSSVRNHQINSDLAQLLLR
2844577  Q9UGJ1  SLLFKILSSVRNHQINSDLAQLLLRLDYNKYYT

[2844578 rows x 2 columns]

In [215]:
T_neg_dataframe

           acc                           sequence
0       O14746  GFALLDGARGGPPEAFTTSVRSYLPNTVTDALR
1       O14746  FALLDGARGGPPEAFTTSVRSYLPNTVTDALRG
2       O14746  GPPEAFTTSVRSYLPNTVTDALRGSGAWGLLLR
3       O14746  PEAFTTSVRSYLPNTVTDALRGSGAWGLLLRRV
4       O14746  CAYQVCGPPLYQLGAATQARPPPHASGPRRRLG
...        ...                                ...
355922  P50748  SCDPQVILKQLEEHMNTGQLAGFSHQIRSLILN
355923  P50748  ILNNIINKKEFGILAKTKYFQMLKMHAMNTNNI
355924  P50748  LAKTKYFQMLKMHAMNTNNITELVNYLANDLSL
355925  P50748  KYFQMLKMHAMNTNNITELVNYLANDLSLDEAS
355926  P50748  NYLANDLSLDEASVLITEYSKHCGKPVPPDTAP

[355927 rows x 2 columns]

In [216]:
dedup_S_neg_dataframe = write_fasta(S_neg_dataframe, "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_neg_S.fasta")  
dedup_S_neg_dataframe.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_neg_S.tsv", sep="\t", index=None)

After duplicates removal
            acc                           sequence
0        O14746  CLVCVPWDARPPPAAPSFRQVSCLKELVARVLQ
1        O14746  PWDARPPPAAPSFRQVSCLKELVARVLQRLCER
2        O14746  ALLDGARGGPPEAFTTSVRSYLPNTVTDALRGS
3        O14746  DGARGGPPEAFTTSVRSYLPNTVTDALRGSGAW
4        O14746  SVRSYLPNTVTDALRGSGAWGLLLRRVGDDVLV
...         ...                                ...
2844573  Q9UGJ1  RGAAQLSILVKGFSRQSSLLFKILSSVRNHQIN
2844574  Q9UGJ1  GAAQLSILVKGFSRQSSLLFKILSSVRNHQINS
2844575  Q9UGJ1  LVKGFSRQSSLLFKILSSVRNHQINSDLAQLLL
2844576  Q9UGJ1  VKGFSRQSSLLFKILSSVRNHQINSDLAQLLLR
2844577  Q9UGJ1  SLLFKILSSVRNHQINSDLAQLLLRLDYNKYYT

[286507 rows x 2 columns]

In [217]:
dedup_T_neg_dataframe = write_fasta(T_neg_dataframe, "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_neg_T.fasta")  
dedup_T_neg_dataframe.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_neg_T.tsv", sep="\t", index=None)

After duplicates removal
           acc                           sequence
0       O14746  GFALLDGARGGPPEAFTTSVRSYLPNTVTDALR
1       O14746  FALLDGARGGPPEAFTTSVRSYLPNTVTDALRG
2       O14746  GPPEAFTTSVRSYLPNTVTDALRGSGAWGLLLR
3       O14746  PEAFTTSVRSYLPNTVTDALRGSGAWGLLLRRV
4       O14746  CAYQVCGPPLYQLGAATQARPPPHASGPRRRLG
...        ...                                ...
355922  P50748  SCDPQVILKQLEEHMNTGQLAGFSHQIRSLILN
355923  P50748  ILNNIINKKEFGILAKTKYFQMLKMHAMNTNNI
355924  P50748  LAKTKYFQMLKMHAMNTNNITELVNYLANDLSL
355925  P50748  KYFQMLKMHAMNTNNITELVNYLANDLSLDEAS
355926  P50748  NYLANDLSLDEASVLITEYSKHCGKPVPPDTAP

[98375 rows x 2 columns]

In [218]:
from sklearn.model_selection import train_test_split


all_neg_S = pd.read_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_neg_S.tsv", sep="\t")

all_neg_S = all_neg_S.sample(frac=1).reset_index(drop=True)

split_size = int(0.8 * len(all_neg_S.index))

test_neg_S = all_neg_S[split_size:]
train_neg_S = all_neg_S[:split_size]

train_neg_S.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_neg_S.tsv", sep="\t", index=None)
test_neg_S.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_neg_S.tsv", sep="\t", index=None)

In [219]:
all_pos_S = pd.read_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_pos_S.tsv", sep="\t")

all_pos_S = all_pos_S.sample(frac=1).reset_index(drop=True)

split_size = int(0.8 * len(all_pos_S.index))
test_pos_S = all_pos_S[split_size:]
train_pos_S = all_pos_S[:split_size]

train_pos_S.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_pos_S.tsv", sep="\t", index=None)
test_pos_S.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_pos_S.tsv", sep="\t", index=None)

In [220]:
all_neg_T = pd.read_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_neg_T.tsv", sep="\t")

all_neg_T = all_neg_T.sample(frac=1).reset_index(drop=True)

split_size = int(0.8 * len(all_neg_T.index))

test_neg_T = all_neg_T[split_size:]
train_neg_T = all_neg_T[:split_size]

train_neg_T.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_neg_T.tsv", sep="\t", index=None)
test_neg_T.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_neg_T.tsv", sep="\t", index=None)

In [221]:
all_pos_T = pd.read_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_pos_T.tsv", sep="\t")

all_pos_T = all_pos_T.sample(frac=1).reset_index(drop=True)

split_size = int(0.8 * len(all_pos_T.index))
train_pos_T = all_pos_T[:split_size]
test_pos_T = all_pos_T[split_size:]

train_pos_T.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_pos_T.tsv", sep="\t", index=None)
test_pos_T.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_pos_T.tsv", sep="\t", index=None)

In [222]:
def write_tsv_fasta(file_path, save_to_file, max_rows=20000):
    fasta_text = ""
    dataframe = pd.read_csv(file_path, sep="\t")
    print(dataframe)
    for i, row in dataframe.iterrows():
        fasta_text += ">" + row[0] + "\n"
        fasta_text += row[1] + "\n"
        if i > max_rows:
            break
    with open(save_to_file, "w") as f:
        f.write(fasta_text)

In [223]:
write_tsv_fasta("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_pos_S.tsv", 
                "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_pos_S.fasta")

          acc                           sequence
0      P48730  LRHSRNPATRGLPSTASGRLRGTQEVAPPTPLT
1      P49810  ALQLPYDPEMEEDSYDSFGEPSYPEVFEPPLTG
2      Q6NYC8  QEEEAVELQPPPPAPLSPPPPAPTAPQPPGDPL
3      Q9ULM3  APPSLPLTIPAPVKASSPIKQSHEPVPDTSVEK
4      O94832  YLLEKSRVIVQQPGERSFHSFYQLLQGGSEQML
...       ...                                ...
13461  O00429  KSSKVPSALAPASQEPSPAASAEADGKLIQDSR
13462  Q8NC44  EDLLGRPQALSRQALDSEEEEEDVAAKETLLRL
13463  P78312  HPRLILTDSGSAPTFCSDDEDVAPLSAKFADIY
13464  Q8IWJ2  SERERLLPVINTMLQLSPEEKGKLAAVAQGEEE
13465  Q96BY6  IAISTVNHADSRASLASLDSNPSTNEKSSEKTD

[13466 rows x 2 columns]

In [224]:
write_tsv_fasta("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_pos_T.tsv", 
                "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_pos_T.fasta")

         acc                           sequence
0     Q9BXS6  GTHKLKTITGNSAAVITPFKLTTEATQTPVSNK
1     O15063  VPPPPRAPQAGAHTPLTPQPGLAPQQQSPKQQQ
2     P22314  SANASVDDSRLEELKATLPSPDKLPGFKMYPID
3     Q6NZY4  PRGTPPPVFTPPLPKGTPPLTPSDSPQTRTASG
4     Q7KZ85  DSGDSEDDVGHKKRKRTSFDDRLEDDDFDLIEE
...      ...                                ...
3415  Q15746  LSSMAMISGLSGRKSSTGSPTSPLNAEKLESEE
3416  P04004  PQVTRGDVFTMPEDEYTVYDDGEEKNNATVHEQ
3417  Q5TAP6  NKELPRPVLEGQQSERTPNNRPDAPKEKKEKEQ
3418  P08651  NWTEDMEGGISSPVKKTEMDKSPFNSPSPQDSP
3419  P49454  PTTKSVPVNNLPERSPTDSPREGLRVKRGRLVP

[3420 rows x 2 columns]

In [225]:
write_tsv_fasta("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_neg_S.tsv", 
                "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_neg_S.fasta", len(train_pos_S.index))

                    acc                           sequence
0                Q15735  PVTTSSSTSTLSSSPWSAQPTWKSDPGFRITVV
1                Q13443  KCGAGKICRNFQCVDASVLNYDCDVQKKCHGHG
2                Q8TEY7  SLPIPGKEDLAKLHSSSHPTSIVKAGSCGEAYA
3       ENSP00000317156  VSPNSSLSTKQSMFPWSGLIYIHCDDGQKKIVK
4       ENSP00000335320  GPLKSPQVLGSSLSVRSPTGSPSRLKSPSMAVP
...                 ...                                ...
229200           Q6BDS2  APEPVQITPPAPSAQQSWAQAFGGSQGNSNSSS
229201           Q9NSY1  AFKFAKKDCPVSNINNSSIPSALPEPMTASEAA
229202           Q96II8  SAFTPLKSDDRPNALLSSPATETVHHSPAYSFP
229203           P11169  RMSQEKQVTVLELFRVSSYRQPIIISIVLQLSQ
229204           Q15643  PSAFHDDDMDFGDIISSQQEINRLSNEVSRLES

[229205 rows x 2 columns]

In [226]:
write_tsv_fasta("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_neg_T.tsv", 
                "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_neg_T.fasta", len(train_pos_T.index))

          acc                           sequence
0      Q8N357  FFNFAGISVTKELSATTRMVLDSLRTVVIWALS
1      P55058  APPRCTIKPSGTTISVTASVTIALVPPDQPEVQ
2      Q15276  LRELVLKYREDIINVRTAADHVEEKLKAEILFL
3      P68400  QSRLTAREAMEHPYFYTVVKDQARMGSSSMPGG
4      Q99700  RYQSGPNSLPPRAATPTRPPSRPPSRPSRPPSH
...       ...                                ...
78695  Q86US8  RTKERPRLKKQVSVSSTDSLDEDRIDEPDGLGP
78696  Q9H8V3  SQKGEPLPFSCRPLYCTSMMNLVLCFTGFRKKE
78697  O43426  NVNGGKQFRSIAFKNQTLTDWLLDAPKLAGIQE
78698  Q7Z3V4  FSQSVDYGLNESMHLITKQLQFLWGVPLIRIFF
78699  Q96EY9  PPLTRGQFEEARAHWPTSFHEDKQVTSALAGRL

[78700 rows x 2 columns]

In [227]:
write_tsv_fasta("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_pos_S.tsv", 
                "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_pos_S.fasta")

                  acc                           sequence
0              Q9P0L2  EAYRPGTTQRVPAASPSAHSISTATPDRTRFPR
1              O14686  ASFGATGGPPAHLLTPSPLSGPGGSSLLEKFEL
2              P10275  LLDDSAGKSTEDTAEYSPFKGGYTKGLEGESLG
3              Q9P2D1  EEDEEEKLEDDDKSEESSQPEAGAVSRGKNFDE
4              Q8WW12  PEAKMRMKNIGRDTPTSAGPNSFNKGKHGFSDN
...               ...                                ...
3362  ENSP00000265619  TASKTETPIVSKSLSSSLDDTEVKKVMEECKRL
3363           Q7L2J0  LLDEEVSRTLNAETPKSSPLPAKGRDPVEILIP
3364           Q8NEY1  ANPRSVSSLSNRSSPLSWRYGQSSPRLQAGDAP
3365           P16144  MYSDDVLRSPSGSQRPSVSDDTGCGWKFEPLLG
3366           Q8NDT2  LEGDWTSPSKSSDRRNSLEGYSRSVRSRSGERW

[3367 rows x 2 columns]

In [228]:
write_tsv_fasta("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_pos_T.tsv", 
                "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_pos_T.fasta")

        acc                           sequence
0    Q8NC44  RQGKNAPPGGDEPLAETESESEAELAGFSPVVD
1    Q8N3A8  KVSAKDEPASSSKSSNTSQSQKKGQQSQFLQSR
2    Q7Z460  GRIPGSVNAMRVLSTSTDLEAAVADALKKPVRR
3    Q13029  KAHVEHMQSLPEDPLETSKEEEELNDSSEELYT
4    O94967  VDKLLKPTKAAYADLLTPLISKLSPYPSSPMRR
..      ...                                ...
851  Q9ULW0  LLPSKSSVTKICRDPQTPVLQTKHRARAVTCKS
852  P45984  SQSSSINDISSMSTEQTLASDTDSSLDASTGPL
853  O96017  HSKILGETSLMRTLCGTPTYLAPEVLVSVGTAG
854  Q96EB6  EDEPDVPERAGGAGFGTDGDDQEAINEAISVKQ
855  O60271  PAGDGLLTPDAQKGGETPGSEQWKFQELSQPRS

[856 rows x 2 columns]

In [229]:
write_tsv_fasta("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_neg_S.tsv", 
                "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_neg_S.fasta", len(test_pos_S.index))

          acc                           sequence
0      Q70J99  VLFLHATQKDLSDFHQSMAQWLAYSRLYQSLEF
1      Q5TB30  YELFVNILVVCGYITVSDRSSGIHKIQDDPQSS
2      Q9H3S7  GPDIFAKLVPMAAHEASSLYSEEKAKLLREMMA
3      Q6U841  GEWDPSIRIEPPKNVPSQEKRKIPAVPNGTAAH
4      Q9HBA0  DLFKLTIGMGDLEMLSSTKYPVVFIILLVTYII
...       ...                                ...
57297  Q9UPQ6  TVRSTDPVTTKETKAVSEMSTEIGTMISVSSAE
57298  O60447  WQLLCSAQSMPIKDQYSELLKMTSPCEKLIRRD
57299  Q86UK7  PATCPPGALQAPEAPASRAEGPVAVVVNGHTEG
57300  Q07352  RKAVGTPAGGGFPRRHSVTLPSSKFHQNQLLSS
57301  O75116  DKKEEIIAPCKVYYDISTAKNLLLLANSTEEQQ

[57302 rows x 2 columns]

In [230]:
write_tsv_fasta("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_neg_T.tsv", 
                "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_neg_T.fasta", len(test_pos_T.index))

          acc                           sequence
0      Q5VZ89  ENPESEKSSPAVSRSKTFTGRFKQQTPSRTHKE
1      Q96QT6  RRPFELLIAAAMERNPTQFQLPNELTCTTALPG
2      Q7Z309  SPKRIDFTPVSPAPSPTRGFGKMFVSSSGLPPS
3      Q9NVE7  SIGGGTFWGLGALLTKTKKFDELLHLASRGQHS
4      Q5T200  AATSFSTSAITISTSATPTNTTNNTFANEDSHR
...       ...                                ...
19670  Q9UKE5  SHSPAGTPTEGLGRVSTHSQEMDSGTEYGMGSS
19671  Q02817  PTTTPITTTTTVTPTPTPTGTQTGPPTHTSTAP
19672  Q9BZC7  SPLGCLLSLLRPRSAPTELRALVADEPEDLDTE
19673  P22059  QLAKQHNHLERAFRGATVLPANTPGNVGSGKDQ
19674  Q9NQS7  PLPRTLSPTPASATAPTSQGIPTSDEESTPKKS

[19675 rows x 2 columns]