In [206]:
import pandas as pd
import numpy as np

In [207]:
dataframe_plm = pd.read_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/phosphoELM_all_2015-04.csv", sep="\t")
dataframe_plm

,acc,sequence,position,code,pmids,kinases,source,species,entry_date
0,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,304,S,17114649,NaN,HTP,Mus musculus,2005-03-14 12:16:11.108314+01
1,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,304,S,17242355,NaN,HTP,Mus musculus,2005-03-14 12:16:11.108314+01
2,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,304,S,15345747,NaN,HTP,Mus musculus,2005-03-14 12:16:11.108314+01
3,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,296,S,17114649,NaN,HTP,Mus musculus,2007-07-13 15:17:45.666219+02
4,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,296,S,17242355,NaN,HTP,Mus musculus,2007-07-13 15:17:45.666219+02
...,...,...,...,...,...,...,...,...,...
57385,Q9NNX1,MNGTRNWCTLVDVHPEDQAAGSVDILRLTLQGELTGDELEHIAQKA...,378,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:22.267702+01
57386,P33552,MAHKQIYYSDKYFDEHYEYRHVMLPRELSKQVPKTHLMSEEEWRRL...,51,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:26.8579+01
57387,Q96SB8,MAKRKEENFSSPKNAKRPRQEELEDFDKDGDEDECKGTTLTAAEVG...,695,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:27.603887+01
57388,Q96SB8,MAKRKEENFSSPKNAKRPRQEELEDFDKDGDEDECKGTTLTAAEVG...,291,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:27.492959+01
57389,Q9UGJ1,MIHELLLALSGYPGSIFTWNKRSGLQVSQDFPFLHPSETSVLNRLC...,441,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:30.010184+01

In [231]:
#humans = dataframe_plm[dataframe_plm["species"] == "Homo sapiens"]
humans = dataframe_plm[dataframe_plm["species"].isin(["Homo sapiens", "Mus musculus"])]
#df2['id'].isin(['SP.POP.TOTL','NY.GNP.PCAP.CD'])
humans

,acc,sequence,position,code,pmids,kinases,source,species,entry_date
0,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,304,S,17114649,NaN,HTP,Mus musculus,2005-03-14 12:16:11.108314+01
1,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,304,S,17242355,NaN,HTP,Mus musculus,2005-03-14 12:16:11.108314+01
2,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,304,S,15345747,NaN,HTP,Mus musculus,2005-03-14 12:16:11.108314+01
3,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,296,S,17114649,NaN,HTP,Mus musculus,2007-07-13 15:17:45.666219+02
4,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,296,S,17242355,NaN,HTP,Mus musculus,2007-07-13 15:17:45.666219+02
...,...,...,...,...,...,...,...,...,...
57385,Q9NNX1,MNGTRNWCTLVDVHPEDQAAGSVDILRLTLQGELTGDELEHIAQKA...,378,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:22.267702+01
57386,P33552,MAHKQIYYSDKYFDEHYEYRHVMLPRELSKQVPKTHLMSEEEWRRL...,51,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:26.8579+01
57387,Q96SB8,MAKRKEENFSSPKNAKRPRQEELEDFDKDGDEDECKGTTLTAAEVG...,695,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:27.603887+01
57388,Q96SB8,MAKRKEENFSSPKNAKRPRQEELEDFDKDGDEDECKGTTLTAAEVG...,291,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:27.492959+01
57389,Q9UGJ1,MIHELLLALSGYPGSIFTWNKRSGLQVSQDFPFLHPSETSVLNRLC...,441,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:30.010184+01

In [232]:
target_seq_len = 33
target_left_right = 16

In [233]:
def write_fasta(dataframe, file_path):
    dataframe = dataframe.drop_duplicates(subset=['sequence'])
    print("After duplicates removal")
    print(dataframe)
    data_fasta = ""
    for i, row in dataframe.iterrows():
        data_fasta += ">" + row["acc"] + "\n"
        data_fasta += row["sequence"] + "\n"
    
    with open(file_path, 'w') as f:
        f.write(data_fasta)
    return dataframe


r_S_id = list()
r_S_seq = list()
r_T_id = list()
r_T_seq = list()

for i, row in humans.iterrows():
    pos = int(row["position"])
    if pos > 33 and pos + target_left_right < len(row["sequence"]):
        extracted_seq = row["sequence"][pos - target_left_right - 1: pos + target_left_right]
        if row["code"] == "S":
            r_S_id.append(row["acc"])
            r_S_seq.append(extracted_seq)
        if row["code"] == "T":
            r_T_id.append(row["acc"])
            r_T_seq.append(extracted_seq)
        
            
S_dataframe = pd.DataFrame(zip(r_S_id, r_S_seq), columns=["acc", "sequence"])
T_dataframe = pd.DataFrame(zip(r_T_id, r_T_seq), columns=["acc", "sequence"])

print(S_dataframe)
print()
print(T_dataframe)

          acc                           sequence
0      O08539  NAPEKGNKSPSPPPDGSPAATPEIRVNHEPEPA
1      O08539  NAPEKGNKSPSPPPDGSPAATPEIRVNHEPEPA
2      O08539  NAPEKGNKSPSPPPDGSPAATPEIRVNHEPEPA
3      O08539  TVKAQPSDNAPEKGNKSPSPPPDGSPAATPEIR
4      O08539  TVKAQPSDNAPEKGNKSPSPPPDGSPAATPEIR
...       ...                                ...
29574  Q8NFH3  ENYISLWSIGDFGNLDSDGGFEGDHQLLCDIRH
29575  P33552  THLMSEEEWRRLGVQQSLGWVHYMIHEPEPHIL
29576  Q96SB8  ENTRPKFLSRDVDSEISDLENEVENKTAQILNL
29577  Q96SB8  RQCVEKEERFQSIAGLSTMKTNLESLKHEMAWA
29578  Q9UGJ1  HKADATQAREGPSRETSPREAPASGWAALGLSY

[29579 rows x 2 columns]

         acc                           sequence
0     O08539  KGNKSPSPPPDGSPAATPEIRVNHEPEPASGAS
1     O08605  PLPIVDSDKRRKKKRKTRATDSLPGKFEDVYQL
2     O08605  LQHPWVQGQAPERGLPTPQVLQRNSSTMDLTLF
3     O08605  VKLNNSCTPITTPELTTPCGSAEYMAPEVVEVF
4     O08605  DLGSGVKLNNSCTPITTPELTTPCGSAEYMAPE
...      ...                                ...
6736  Q8BH74  MNSAPQKPTLLSQATFTEKVAYEHREKKYEMDH
6737  Q8BH74  SQIIPRTPSSFRQPFVTPSSRSLLRHPDISYIL
6738  Q8BH74  KRVLIQANQEDNFGTATPRSQIIPRTPSSFRQP
6739  Q8BH74  EDNFGTATPRSQIIPRTPSSFRQPFVTPSSRSL
6740  P50748  HIKAHEVAQAKHKPGSTPEPIAAEVRSPSMESK

[6741 rows x 2 columns]

In [234]:
dedup_S_dataframe = write_fasta(S_dataframe, "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_pos_S.fasta")  
dedup_S_dataframe.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_pos_S.tsv", sep="\t", index=None)

After duplicates removal
          acc                           sequence
0      O08539  NAPEKGNKSPSPPPDGSPAATPEIRVNHEPEPA
3      O08539  TVKAQPSDNAPEKGNKSPSPPPDGSPAATPEIR
5      O08539  KAQPSDNAPEKGNKSPSPPPDGSPAATPEIRVN
8      O08605  DSDKRRKKKRKTRATDSLPGKFEDVYQLTSELL
9      O14746  QETSPLRDAVVIEQSSSLNEASSGLFDVFLRFM
...       ...                                ...
29574  Q8NFH3  ENYISLWSIGDFGNLDSDGGFEGDHQLLCDIRH
29575  P33552  THLMSEEEWRRLGVQQSLGWVHYMIHEPEPHIL
29576  Q96SB8  ENTRPKFLSRDVDSEISDLENEVENKTAQILNL
29577  Q96SB8  RQCVEKEERFQSIAGLSTMKTNLESLKHEMAWA
29578  Q9UGJ1  HKADATQAREGPSRETSPREAPASGWAALGLSY

[20715 rows x 2 columns]

In [235]:
dedup_T_dataframe = write_fasta(T_dataframe, "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_pos_T.fasta")  
dedup_T_dataframe.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_pos_T.tsv", sep="\t", index=None)

After duplicates removal
         acc                           sequence
0     O08539  KGNKSPSPPPDGSPAATPEIRVNHEPEPASGAS
1     O08605  PLPIVDSDKRRKKKRKTRATDSLPGKFEDVYQL
2     O08605  LQHPWVQGQAPERGLPTPQVLQRNSSTMDLTLF
3     O08605  VKLNNSCTPITTPELTTPCGSAEYMAPEVVEVF
4     O08605  DLGSGVKLNNSCTPITTPELTTPCGSAEYMAPE
...      ...                                ...
6736  Q8BH74  MNSAPQKPTLLSQATFTEKVAYEHREKKYEMDH
6737  Q8BH74  SQIIPRTPSSFRQPFVTPSSRSLLRHPDISYIL
6738  Q8BH74  KRVLIQANQEDNFGTATPRSQIIPRTPSSFRQP
6739  Q8BH74  EDNFGTATPRSQIIPRTPSSFRQPFVTPSSRSL
6740  P50748  HIKAHEVAQAKHKPGSTPEPIAAEVRSPSMESK

[5078 rows x 2 columns]

In [ ]:
# create negative dataset
S_neg_id = list()
S_neg_seq = list()

T_neg_id = list()
T_neg_seq = list()

def extract_neg_seq(original_seq, s_id, pos, s_len=33):
    r_id = list()
    r_seq = list()
    for p in pos:
        if p > s_len:
            extracted_seq = original_seq[p - target_left_right: p + target_left_right + 1]
            if len(extracted_seq) >= s_len:
                r_id.append(s_id)
                r_seq.append(extracted_seq)
    return r_id, r_seq
                        

for i, row in humans.iterrows():
    if len(row["sequence"]) > 33:

        S_pos = [pos for pos, char in enumerate(row["sequence"]) if char == "S"]
        T_pos = [pos for pos, char in enumerate(row["sequence"]) if char == "T"]
        
        if row["code"] == "S":
            # exclude POS position
            S_pos = [ item for item in S_pos if item != row["position"] - 1 ]
            ids, seqs = extract_neg_seq(row["sequence"], row["acc"], S_pos)
            S_neg_id.extend(ids)
            S_neg_seq.extend(seqs)
        if row["code"] == "T":
            # exclude POS position
            T_pos = [ item for item in T_pos if item != row["position"] - 1 ]
            ids, seqs = extract_neg_seq(row["sequence"], row["acc"], T_pos)
            T_neg_id.extend(ids)
            T_neg_seq.extend(seqs)


S_neg_dataframe = pd.DataFrame(zip(S_neg_id, S_neg_seq), columns=["acc", "sequence"])
T_neg_dataframe = pd.DataFrame(zip(T_neg_id, T_neg_seq), columns=["acc", "sequence"])

In [ ]:
S_neg_dataframe

In [ ]:
T_neg_dataframe

In [ ]:
dedup_S_neg_dataframe = write_fasta(S_neg_dataframe, "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_neg_S.fasta")  
dedup_S_neg_dataframe.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_neg_S.tsv", sep="\t", index=None)

In [ ]:
dedup_T_neg_dataframe = write_fasta(T_neg_dataframe, "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_neg_T.fasta")  
dedup_T_neg_dataframe.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_neg_T.tsv", sep="\t", index=None)

In [ ]:
from sklearn.model_selection import train_test_split


all_neg_S = pd.read_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_neg_S.tsv", sep="\t")

all_neg_S = all_neg_S.sample(frac=1).reset_index(drop=True)

split_size = int(0.8 * len(all_neg_S.index))

test_neg_S = all_neg_S[split_size:]
train_neg_S = all_neg_S[:split_size]

train_neg_S.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_neg_S.tsv", sep="\t", index=None)
test_neg_S.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_neg_S.tsv", sep="\t", index=None)

In [ ]:
all_pos_S = pd.read_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_pos_S.tsv", sep="\t")

all_pos_S = all_pos_S.sample(frac=1).reset_index(drop=True)

split_size = int(0.8 * len(all_pos_S.index))
test_pos_S = all_pos_S[split_size:]
train_pos_S = all_pos_S[:split_size]

train_pos_S.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_pos_S.tsv", sep="\t", index=None)
test_pos_S.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_pos_S.tsv", sep="\t", index=None)

In [ ]:
all_neg_T = pd.read_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_neg_T.tsv", sep="\t")

all_neg_T = all_neg_T.sample(frac=1).reset_index(drop=True)

split_size = int(0.8 * len(all_neg_T.index))

test_neg_T = all_neg_T[split_size:]
train_neg_T = all_neg_T[:split_size]

train_neg_T.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_neg_T.tsv", sep="\t", index=None)
test_neg_T.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_neg_T.tsv", sep="\t", index=None)

In [ ]:
all_pos_T = pd.read_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_pos_T.tsv", sep="\t")

all_pos_T = all_pos_T.sample(frac=1).reset_index(drop=True)

split_size = int(0.8 * len(all_pos_T.index))
train_pos_T = all_pos_T[:split_size]
test_pos_T = all_pos_T[split_size:]

train_pos_T.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_pos_T.tsv", sep="\t", index=None)
test_pos_T.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_pos_T.tsv", sep="\t", index=None)

In [ ]:
def write_tsv_fasta(file_path, save_to_file, max_rows=20000):
    fasta_text = ""
    dataframe = pd.read_csv(file_path, sep="\t")
    print(dataframe)
    for i, row in dataframe.iterrows():
        fasta_text += ">" + row[0] + "\n"
        fasta_text += row[1] + "\n"
        if i > max_rows:
            break
    with open(save_to_file, "w") as f:
        f.write(fasta_text)

In [ ]:
write_tsv_fasta("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_pos_S.tsv", 
                "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_pos_S.fasta")

In [ ]:
write_tsv_fasta("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_pos_T.tsv", 
                "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_pos_T.fasta")

In [ ]:
write_tsv_fasta("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_neg_S.tsv", 
                "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_neg_S.fasta", len(train_pos_S.index))

In [ ]:
write_tsv_fasta("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_neg_T.tsv", 
                "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/train_neg_T.fasta", len(train_pos_T.index))

In [ ]:
write_tsv_fasta("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_pos_S.tsv", 
                "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_pos_S.fasta")

In [ ]:
write_tsv_fasta("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_pos_T.tsv", 
                "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_pos_T.fasta")

In [ ]:
write_tsv_fasta("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_neg_S.tsv", 
                "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_neg_S.fasta", len(test_pos_S.index))

In [ ]:
write_tsv_fasta("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_neg_T.tsv", 
                "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/test_neg_T.fasta", len(test_pos_T.index))